* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bd8216;
}

.acContainer {
    width: 80%;
    margin: 0 auto;
}

section ul {
    list-style: none;
    padding: 20px;
}

section h1 {
    text-align: center;
}